.container {
    width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.h1-text {
    margin-bottom: 15px;
    margin-top: 15px;
}
.reg-email {
    margin-left: 36px;
}
.birthday {
    margin-left: 15px;
    width: 190px;
}
.password {
    margin-left: 7px;
}
.conf_PW {
    margin-left: 12px;
}
.register {
    width: 100px;
    height: 30px;
    background-color: darkcyan;
    color: white;
    box-shadow: 4px 4px 1px lightsteelblue;
}
.login {
    margin-top: -125px;
}
.log-text {
    margin-bottom: 15px;
}
.email {
    margin-left: 28px;
}
.btn-login {
    width: 100px;
    height: 30px;
    background-color: brown;
    color: white;
    box-shadow: 4px 4px 1px burlywood;
}
.message {
    width: 800px;
    margin: 0 auto;
}

.addBook, .editBook, .showBook {
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
}
.book-form {
    margin-top: 23px;
}
.move {
    margin-left: 53px;
}
.margin-t {
    margin-top: -18px;
}
.size {
    width: 330px;
    font-weight: bold;
}
.description {
    width: 350px;
}
.viewBooks {
    width: 810px;
    margin: 0 auto;
    margin-top: 10px;
}
.all-books {
    width: 1000px;
    margin: 0 auto;
}
.books {
    width: 400px;
    height: 270px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    border: 2px solid black;
    padding: 10px 15px;
} 
.add {
    margin-top: -15px;
}
.delete {
    color: white;
    text-decoration: none;
}

