<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play ground 2</title>
    <style>
        body {
            width: 700px;
            margin: 0 auto;
            padding-top: 50px;
        }
        .three {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        h1 {
            text-align: center;
        }
        .div-block {
            width: 200px;
            height: 200px;
            border: 2px solid black;
            background-color: #9fc5f8;
        }

    </style>
</head>
<body>
    <h1>Welcome!</h1>
        <div class="three">
            <div class="div-block"></div>
            <div class="div-block"></div>
            <div class="div-block"></div>
        </div>
</body>
</html>